body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

header {
    background-image: url('box5_image.jpg');
    height: 300px;
    color: rgb(155, 92, 9);
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.action-btn {
    color: #f4f8fb;
    background-color:#007bff;
    /* padding: 10px 20px; */
    width: 120px;
    height: 33px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.action-btn:hover {
    background-color: lightskyblue;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.features {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.feature {
    margin: 10px;
    padding: 20px;
    background-color: #f4f8fb;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: rgb(110, 153, 179);
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
