.bulb{
    width: 350px;
    height: 350px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
}
button{
    padding: 8px;
    margin-left: 50px;
    margin-top: 50px;
}